/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    margin: 0;
    color: #fff;
    background: #ccc;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    display: flex;
    align-items: center;
}

div {
      padding: 25px 25px 25px 25px;
}

h2 {
  text-align: left;
}

 header{
   background:#ccc;
   color:#000;
   padding: 2rem;
   margin: 0;
   margin-bottom: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

nav ul {
    display:flex;
    list-style: none;
    margin: 0;
}

nav ul li{
    color:#fff;
    font-family: sans-serif;
    font-size: 30px;
    margin: 0;
    margin-left: 1rem;
}

footer {
      color:#000;
      text-align: center
}
.text{
      color: #000;
      flex:0 0 50%;
      padding: 50px 50px 50px 50px;
      max-width: 500px;
      font-size: 15px;
      line-height: 25px;
}
.photo{
  width: 100%;
  flex: 100%;
  flex-direction: column;
}

#cougar {
      background-color: #B26219;
      max-width: 100%;
      padding: 50px 50px 50px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
 }

#lion {
      background-color: #FFBD82;
      max-width: 100%;
      padding: 50px 50px 50px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
 }

#tiger {
      background-color: #FFD5AE;
      max-width: 100%;
      padding: 50px 50px 50px 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
 }


/* ----- SUGGESTED COLORS -----
    - ARTICLES -
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #000;
    text-decoration: none
}
a:hover {
    color: #333;
}
